.App {
    /* display: grid; */
    /* grid-template-columns: 200px 1fr; */
    /* display: flex; */
    display: grid;
    grid-template-columns: 200px 1fr;

}

.navbar {
    border: 1px solid green;
    height: 100vh;
}
.contents {
    border: 1px solid red;
    min-height: 100vh;
}